<?xml version="1.0"?>
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_User::HH" title="HappyHackers" module="Custom_User" resource="Custom_User::HH"/>
        <add id="Custom_User::level_one" title="Level One" module="Custom_User" parent="Custom_User::HH" resource="Custom_User::levelone"/>
        <add id="Custom_User::level_two" title="Level Two" module="Custom_User" parent="Custom_User::level_one" resource="Custom_User::leveltwo"/>
    </menu>

</config>