<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin"/>
                <resource id="Custom_User::HH" title="HH" translate="title" sortOrder="60"/>
                    <resource id="Custom_User::levelone" title="Level One" translate="title" sortOrder="20"/>
                    <resource id="Custom_User::leveltwo" title="Level Two" translate="title" sortOrder="30"/>
                <resource/>
            </resources>
        </resources>
    </acl>
</config>