<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="set_order_attribute" instance="Custom\Order\Observer\SetOrderAttribute"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="set_frontend_order_attribute" instance="Custom\Order\Observer\SetFrontOrderAttribute"/>
    </event>
</config>